<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CAR_RENTAL_APPLICATION</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="formViewClass">
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color:whitesmoke">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Assets/logo1.png" style="width:100px;" />.</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse d-sm-inline-flex flex-sm-row-reverse text-dark">
                    <partial name="_LoginPartialBlack.cshtml" />
                    <ul class="navbar-nav ml-auto">
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="index">Cars</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Presentation">Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="contact">Contact US</a>
                       
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <main role="main">
        <div class="row" style="height:8em;">

        </div>

        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>
            <div class="col-md-1">

            </div>

            <div class="row">

            </div>


    </main>
   

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CAR_RENTAL_APPLICATION - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
