@model IEnumerable<CAR_RENTAL_APPLICATION.Models.Car>


@{
    ViewData["Title"] = "Presentation";
}
<div class=" bg-dark" style="background-image: url(../Assets/under.jpg); ">


    <div class="container-fluid">
        <div class="row">
            



                <main class="container">

                    <div class="p-4 mb-4 text-white  bg-dark">
                        <div class="col-md-6 px-0">
                            <h1 class="display-4 fst-italic">Here’s our showroom location on the map and our cars offering.</h1>
                            <p class="lead my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id gravida justo, vel mollis massa. Fusce nibh mauris, faucibus porttitor porttitor laoreet, convallis sit amet enim. Nam finibus lorem vitae tempus malesuada.</p>
                            <div class=" map ">
                                <iframe src="https://maps.google.com/maps?q=Craiova&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">></iframe>
                            </div>
                        </div>
                       

                    </div>


                 
                    <div class="row pt-4 text-white">


                        <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body" style="        background-image: url(../Assets/shr.jpg);
        background-size: 300px;
">

                                    <h5 class="card-title">Lorem Ipsum</h5>
                                    <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body" style="        background-image: url(../Assets/2.jpg);
        background-size: 300px;
">

                                    <h5 class="card-title">Lorem Ipsum</h5>
                                    <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>

                                </div>
                            </div>
                        </div>



                        <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body" style="        background-image: url(../Assets/3.jpg);
        background-size: 300px;
">

                                    <h5 class="card-title">Lorem Ipsum</h5>
                                    <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                                </div>
                            </div>
                        </div>



                        <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body" style="        background-image: url(../Assets/4.png);
        background-size: 300px;
">

                                    <h5 class="card-title">Lorem Ipsum</h5>
                                    <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                                </div>
                            </div>
                        </div>



                        <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body" style="        background-image: url(../Assets/5.png);  background-size: 300px;">

                                    <h5 class="card-title">Lorem Ipsum</h5>
                                    <p class="card-text "> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body" style="        background-image: url(../Assets/car.jpg); background-size: 300px;">

                                    <h5 class="card-title">Lorem Ipsum</h5>
                                    <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body" style="        background-image: url(../Assets/car2.jpg); background-size: 300px;">

                                    <h5 class="card-title">Lorem Ipsum</h5>
                                    <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body" style="        background-image: url(../Assets/2.jpg); background-size: 300px;">

                                    <h5 class="card-title">Lorem Ipsum</h5>
                                    <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                                </div>
                            </div>
                        </div>


                    


                    </div>

                </main>

            </div>
        </div>
    </div>



<script>
    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

