
@{
    ViewData["Title"] = "Contact US";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contact-us container-fluid">
    <div class="row">
        <div class="col-sm-6 contact-us-pic">

        </div>
        <div class="col-sm-6">
            <h3>Contact US</h3>
            <p>For any bugs or problems, feel free to contact us completing the form below. One of our teammates will respond as soon as possible</p>
            <form asp-action="Signup">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label for="exampleInputName1" class="form-label">Name</label>
                    <input type="password" class="form-control" id="exampleInputName1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">Your message</span>
                        <textarea class="form-control" aria-label="Your message"></textarea>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-dark" />
                    </div>
                </div>

            </form>
        </div>
    </div>




</div>
