@{
    ViewData["Title"] = "details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="p-4 p-md-5 mb-4 text-white  bg-dark" style="background-image: url(../Assets/under.jpg); ">


    <div class="container-fluid">
        <div class="row">
            <div class="sidebar col-md-8">



                <div class="container-fluid mt-5" id="a" style="display: none;">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="../Assets/car2.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text">Last updated 3 mins ago</p>
                        </div>
                    </div>
                </div>



                <div class="container-fluid mt-5" id="b" style="display: none;">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="../Assets/car.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text">Last updated 3 mins ago</p>
                        </div>
                    </div>
                </div>


                <div class="container-fluid mt-5" id="c" style="display: none;">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="../Assets/car2.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text">Last updated 3 mins ago</p>
                        </div>
                    </div>
                </div>


                <div class="container-fluid mt-5" id="d" style="display: none;">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="../Assets/car2.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text">Last updated 3 mins ago</p>
                        </div>
                    </div>
                </div>


                <div class="container-fluid mt-5" id="e" style="display: none;">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="../Assets/car2.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text">Last updated 3 mins ago</p>
                        </div>
                    </div>
                </div>


                <div class="container-fluid mt-5" id="f" style="display: none;">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="../Assets/car2.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text">Last updated 3 mins ago</p>
                        </div>
                    </div>
                </div>




            </div>

                <div class="main-content col-md-4">

                    <div class="row pt-4">



                        <div class="col-sm-12 col-md-8 col-lg-6 pb-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body" style="        background-image: url(../Assets/car.jpg);">

                                    <h5 class="card-title">Lorem ipsum</h5>
                                    <p class="card-text ">Lorem ipsum dolor sit amet, et pri voluptua repudiandae, nam cu quem eirmod. Ea vis porro omnes. Eirmod copiosae ne qui</p>
                                    <button class="btn btn-primary" onclick="myFunction('a')">Preview</button>
                                </div>
                            </div>
                        </div>




                        <div class="col-sm-12 col-md-8 col-lg-6 pb-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body" style="        background-image: url(../Assets/car.jpg);">

                                    <h5 class="card-title">Lorem ipsum</h5>
                                    <p class="card-text ">Lorem ipsum dolor sit amet, et pri voluptua repudiandae, nam cu quem eirmod. Ea vis porro omnes. Eirmod copiosae ne qui</p>
                                    <button class="btn btn-primary" onclick="myFunction('b')">Preview</button>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12 col-md-8 col-lg-6 pb-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body" style="        background-image: url(../Assets/car.jpg);">

                                    <h5 class="card-title">Lorem ipsum</h5>
                                    <p class="card-text ">Lorem ipsum dolor sit amet, et pri voluptua repudiandae, nam cu quem eirmod. Ea vis porro omnes. Eirmod copiosae ne qui</p>
                                    <button class="btn btn-primary" onclick="myFunction('c')">Preview</button>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-12 col-md-8 col-lg-6 pb-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body" style="        background-image: url(../Assets/car.jpg);">

                                    <h5 class="card-title">Lorem ipsum</h5>
                                    <p class="card-text ">Lorem ipsum dolor sit amet, et pri voluptua repudiandae, nam cu quem eirmod. Ea vis porro omnes. Eirmod copiosae ne qui</p>
                                    <button class="btn btn-primary" onclick="myFunction('d')">Preview</button>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-12 col-md-8 col-lg-6 pb-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body" style="        background-image: url(../Assets/car.jpg);">

                                    <h5 class="card-title">Lorem ipsum</h5>
                                    <p class="card-text ">Lorem ipsum dolor sit amet, et pri voluptua repudiandae, nam cu quem eirmod. Ea vis porro omnes. Eirmod copiosae ne qui</p>
                                    <button class="btn btn-primary" onclick="myFunction('e')">Preview</button>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-12 col-md-8 col-lg-6 pb-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body" style="        background-image: url(../Assets/car.jpg);">

                                    <h5 class="card-title">Lorem ipsum</h5>
                                    <p class="card-text ">Lorem ipsum dolor sit amet, et pri voluptua repudiandae, nam cu quem eirmod. Ea vis porro omnes. Eirmod copiosae ne qui</p>
                                    <button class="btn btn-primary" onclick="myFunction('f')">Preview</button>
                                </div>
                            </div>











                        </div>
                    </div>
                </div>
            </div>

    </div>
    </div>

    <script>
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

