@{
    ViewData["Title"] = "presentation";
}



<div class="p-4 p-md-5 mb-4 text-white  bg-dark" style="        background-image: url(../Assets/under.jpg);">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Lorem Ipsum .</h1>
        <p class="lead my-3">
            Lorem ipsum dolor sit amet, et pri voluptua repudiandae, nam cu quem eirmod. Ea vis porro omnes. Eirmod copiosae ne qui. Mea eius copiosae ea, at tantas eloquentiam delicatissimi eam. No sed novum oblique, vim putent mentitum id.

            Vel cu inermis prodesset. Eligendi percipit est an, ex soluta audire sed. Ex sit esse singulis. Omnis legimus salutandi ei eam. Te unum eleifend deterruisset est, an has nobis signiferumque, eum oratio theophrastus conclusionemque eu. At delicata maluisset mei. Cu nam reque nominati, mea ne iudicabit definitionem.
        </p>
    </div>


    <div class="row">


        <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body" style="        background-image: url(../Assets/car.jpg);">

                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text ">Lorem ipsum dolor sit amet, et pri voluptua repudiandae, nam cu quem eirmod. Ea vis porro omnes. Eirmod copiosae ne qui</p>

                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body" style="        background-image: url(../Assets/car.jpg);">

                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text ">Lorem ipsum dolor sit amet, et pri voluptua repudiandae, nam cu quem eirmod. Ea vis porro omnes. Eirmod copiosae ne qui</p>

                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body" style="        background-image: url(../Assets/car.jpg);">

                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text ">Lorem ipsum dolor sit amet, et pri voluptua repudiandae, nam cu quem eirmod. Ea vis porro omnes. Eirmod copiosae ne qui</p>

                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body" style="        background-image: url(../Assets/car.jpg);">

                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text ">Lorem ipsum dolor sit amet, et pri voluptua repudiandae, nam cu quem eirmod. Ea vis porro omnes. Eirmod copiosae ne qui</p>

                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body" style="        background-image: url(../Assets/car.jpg);">

                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text ">Lorem ipsum dolor sit amet, et pri voluptua repudiandae, nam cu quem eirmod. Ea vis porro omnes. Eirmod copiosae ne qui</p>

                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body" style="        background-image: url(../Assets/car.jpg);">

                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text ">Lorem ipsum dolor sit amet, et pri voluptua repudiandae, nam cu quem eirmod. Ea vis porro omnes. Eirmod copiosae ne qui</p>

                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body" style="        background-image: url(../Assets/car.jpg);">

                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text ">Lorem ipsum dolor sit amet, et pri voluptua repudiandae, nam cu quem eirmod. Ea vis porro omnes. Eirmod copiosae ne qui</p>

                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body" style="        background-image: url(../Assets/car.jpg);">

                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text ">Lorem ipsum dolor sit amet, et pri voluptua repudiandae, nam cu quem eirmod. Ea vis porro omnes. Eirmod copiosae ne qui</p>

                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body" style="        background-image: url(../Assets/car.jpg);">

                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text ">Lorem ipsum dolor sit amet, et pri voluptua repudiandae, nam cu quem eirmod. Ea vis porro omnes. Eirmod copiosae ne qui</p>

                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body" style="        background-image: url(../Assets/car.jpg);">

                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text ">Lorem ipsum dolor sit amet, et pri voluptua repudiandae, nam cu quem eirmod. Ea vis porro omnes. Eirmod copiosae ne qui</p>

                </div>
            </div>
        </div>



        <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body" style="        background-image: url(../Assets/car.jpg);">

                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text ">Lorem ipsum dolor sit amet, et pri voluptua repudiandae, nam cu quem eirmod. Ea vis porro omnes. Eirmod copiosae ne qui</p>

                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body" style="        background-image: url(../Assets/car.jpg);">

                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text ">Lorem ipsum dolor sit amet, et pri voluptua repudiandae, nam cu quem eirmod. Ea vis porro omnes. Eirmod copiosae ne qui</p>

                </div>
            </div>
        </div>




    </div>




</div>

